// Breakpoints pour les media queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-xl: 1280px;
$breakpoint-desktop-xxl: 1440px;

// Fin des breakpoints

// Propriétés principales

:root {
  color-scheme: light;
  --primary-color: rgb(91, 91, 91);
  --secondary-color: rgb(255, 255, 255);
  --tertiary-color: rgb(75, 200, 115);
  --paragraph-color: rgb(100, 100, 100);
  --font-title: "Karla Variable";
  --font-text: "Ysabeau Variable";
  --base-size: 1rem;
  --scale: 1.25;
  --p: calc(var(--base-size) * 1.18);
  --h5: calc(var(--base-size) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));
  --small-text: calc(var(--base-size) / var(--scale));
}