@use "@styles/config/variables" as *;
@use "@styles/config/mixins" as *;

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

main {
  flex: 1;
}

#logo {
  font-size: var(--h4);
  font-family: var(--font-title);
  z-index: 20;
  font-weight: bold;
}

.icon {
  color: var(--tertiary-color);
}