// Imports des variables et mixins

@use "@styles/config/variables" as *;
@use "@styles/config/mixins" as *;

// Imports des polices

@use "@fontsource-variable/karla";
@use "@fontsource-variable/ysabeau";

// Corps du fichier

@each $i in (1, 2, 3, 4, 5) {
  h#{$i} {
    font-size: var(--h#{$i});
    color: var(--primary-color);
  }
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

h4,
h5,
p {
  font-family: var(--font-text);
}

p {
  margin: 0.5rem 0;
  font-size: var(--p);
  color: var(--paragraph-color);
  font-weight: 600;
}

a {
  text-decoration: none;
  font-family: var(--font-text);
  color: var(--primary-color);
  transition: all 0.4s ease-in-out;
  &:hover {
    color: var(--tertiary-color);
    transition: all 0.4s ease-in-out;
  }
}

@include breakpoint-down($breakpoint-desktop) {
  :root {
    --scale: 1.18;
  }

  @for $i from 1 through 4 {
    h#{$i} {
      font-size: var(--h#{$i + 1});
    }
  }
}